<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" <%= link_to 'Home', root_path%> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%= link_to 'Book', books_path%></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%= link_to 'About', about_path%></a>
        <li>
    </ul>
     <ul class="nav navbar-nav navbar-right">      
             <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add New<span class="caret"></span></a>
          <ul class="dropdown-menu navbar-right" role="menu">
            <li><%=link_to "Book", new_book_path %></li>
            <li><%=link_to "Category", new_category_path %></li>
            <li><%=link_to "Author", new_author_path %></li>
            <li><%=link_to "Publisher", new_publisher_path %></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage<span class="caret"></span></a>
          <ul class="dropdown-menu navbar-right" role="menu">
            <li><%=link_to "Categories", categories_path %></li>
            <li><%=link_to "Authors", authors_path %></li>
            <li><%=link_to "Publishers", publishers_path %></li>
          </ul>
        </li>
  </div>
</nav>