<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title ? @page_title : 'Welcome' %> |The book </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

  <header>
      <div class="container">
        <h1>The BookStore <small><%= @page_title ? @page_title : 'Welcome' %></small></h1>
      </div>
    </header>

  <!-- side bar -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <!---- Alerts % Messages -->
          <% if flash[:notice] %>
          <!-- alert-sucess vai fazer ficar verde -->
            <div class="alert alert-success"><%= flash[:notice] %></div>
            <% end %>

            <% if flash[:alert] %>
            <div class="alert alert-danger"><%= flash[:alert] %></div>
            <% end %>
            <!-- fim da função -->
          <%= yield %>
        </div>
        <div class="col-md-4">
          <%= render 'layouts/sidebar' %>

        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>Copyright &copy: 2019, All Rights Reserved</p>
    </div>
  </footer>
</body>
</html>
